@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: rgb(247, 131, 131);
    /*grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1 /*5*/;

    grid-row: 1 / 2;
    grid-column: 1 / span 4;
}

.caixa2 {
    background-color: rgb(166, 226, 166);
    /*grid-row-start: 2;
    grid-row-end: -1 /*4*/;
    /*grid-column-start: 1;
    grid-column-end: 3;*/

    grid-row: 2 / span 2;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: rgb(161, 161, 255);
    /*grid-row-start: 2;
    grid-row-end: -1 /*4*/;
    /*grid-column-start: 3;
    grid-column-end: -1 /*5*/;

    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}