@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: rgb(235, 255, 248);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(22, 32, 29);
}

#principal {
    text-align: center;
    background-color: rgb(4, 75, 53);
    color: white;
}
h2{
    color: rgb(0, 168, 118);
}

.basico {
    color: rgb(0, 168, 64);
    font-style: italic;
}

.intermediario {
    color: rgb(0, 73, 168);

}

.avancado {
    color: rgb(50, 0, 168);


}
#css {
    color: rgb(10, 84, 97);
}

.destaque {
    background-color: rgba(194, 194, 80, 0.466);
}
