@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 200px 100px 510px 100px / repeat(4, 1fr);
}

header {
    text-align: center;
    background-color: rgb(255, 196, 196);
    grid-area: 1 / 1 / 2 / -1;
}

nav {
    text-align: center;
    background-color: rgb(195, 195, 255);
    grid-area: 2 / 1 / 3 / -1;
}

main {
    text-align: center;
    background-color: rgb(155, 255, 155);
    grid-area: 3 / 1 / 4 / -2;
}

aside {
    text-align: center;
    background-color: yellow;
    grid-area: 3 / -2 / -2 / -1;
}

footer {
    text-align: center;
    background-color: rgb(240, 116, 240);
    grid-area: -2 / 1 / -1 / -1;
}

