@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: rgb(247, 131, 131);
    /*grid-row: 1 / 2;
    grid-column: 1 / span 4;*/

    grid-area: 1 / 1 / 2 / span 4;
}

.caixa2 {
    background-color: rgb(166, 226, 166);
    /*grid-row: 2 / span 2;
    grid-column: 1 / 3;*/

    grid-area: 2 / 1 / span 2 / 3;
}

.caixa3 {
    background-color: rgb(161, 161, 255);
    /*grid-row: 2 / span 2;
    grid-column: 3 / span 2;*/

    grid-area: 2 / 3 / span 2 / span 2;
}